@import "../../style/themes/light/color";

.loginPage {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  background-color: $primary-color;

  .wrapper {
    max-width: 1640px;
    padding: 0 132px;
    margin: 0 auto;
    display: flex;
  }

  .colLeft {
    width: 38%;
    padding: 94px 0 72px;
  }
  .colRight {
    flex: 1;
    background-color: #fff;
    padding: 30px;
    position: relative;
    height: 520px;

    &::before,
    &::after {
      content: "";
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
    }

    &::after {
      left: 0;
      border-top: 520px solid $primary-color;
      border-right: 100px solid transparent;
    }

    &::before {
      right: 0;
      border-bottom: 520px solid $primary-color;
      border-left: 100px solid transparent;
    }
  }

  .logo {
    background-image: url("../../assets/images/logo-white.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 256px;
    height: 135px;
    margin-bottom: 30px;
  }

  .cardForm {
    width: 430px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .cardFormHd {
    font-size: 38px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
  }

  .headerTitle,
  .headerSubTitle {
    text-align: right;
    margin-right: 16%;
    color: #fff;
  }

  .headerTitle {
    font-size: 32px;
    font-weight: 300;
  }

  .headerSubTitle {
    font-size: 47px;
    font-weight: 400;
  }

  .loginHeader {
    position: absolute;
    top: 60px;
    left: 50px;
    .headerTitle {
      height: 23px;
      font-size: 24px;
      font-weight: 400;
      color: #fff;
      line-height: 20px;
    }
    .headerSubTitle {
      margin-top: 12px;
      font-size: 12px;
      font-weight: 200;
      color: rgba(199, 199, 199, 1);
      line-height: 22px;
    }
  }

  .loginForm {
  }

  .cardFormFt {
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    color: rgb(119, 119, 119);
    :global {
      .anticon {
        margin-right: 14px;
        color: rgb(42, 89, 143);
      }
    }
  }

  .cardForm {
    width: 400px;
    min-height: 440px;
    .cardFormTitle {
      text-align: center;
      .mainTitle {
        font-size: 24px;
        font-family: PingFang SC;
        font-weight: 400;
        color: rgba(246, 246, 246, 1);
        line-height: 22px;
      }
    }
    .carFormBody {
      .checkboxWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .button {
        width: 100%;
      }
    }
  }
}

.captchaImg {
  cursor: pointer;
  margin-left: 10px;
  float: left;
}

.tag {
  width: 100%;
  color: #721c24;
  font-size: 15px;
  font-weight: 400;
  padding: 0.75rem 1.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  :global {
    .ant-tag-close-icon {
      color: #721c24;
    }
  }
}

.bottomText {
  position: absolute;
  bottom: 3%;
  text-align: center;
  width: 100%;
  margin: 0;
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: inherit;
  }
}

/* 屏幕小于1000px */
@media screen and (max-width: 1000px) {
  .loginHeader {
    display: none;
  }

  .loginWrapper {
    background-image: none;
  }

  .content {
    min-width: 100% !important;
  }

  .loginForm {
    position: absolute;
    width: 100%;
  }

  .display {
    margin: 0 !important;
    background-color: #021622;
  }

  .cardForm {
    width: 100% !important;
    margin: 0 !important;
    height: 100vh !important;
    min-height: 100% !important;
    padding-top: 80px !important;
    background-color: rgba(2, 22, 34, 0.8) !important;
    border-radius: 0 !important;
  }
}

.modal {
  :global {
    .ant-modal-confirm-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.btnArea {
  margin: 20px 0;
}
