.bid .ant-pro-grid-content {
  background: transparent;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;

  .bid-action {
    width: 206px;
    .ant-btn {
      margin-top: 12px;
      border-radius: 20px;
    }
  }
}

.bid-card {
  height: 300px;
  .ant-card-head {
    border-bottom: 0;
    .ant-card-head-title {
      color: rgb(51, 51, 51);
      font-size: 18px;
    }
  }

  .ant-card-body {
    padding-top: 0;
  }
}

@media screen and (min-width: 1400px) {
  .bid-card {
    height: 220px;
  }
  .bid-action {
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
}
