.price-cell {
  .ant-statistic {
    display: flex;
    align-items: center;
    &-title {
      margin-bottom: 0;
      position: relative;
      text-align: right;
      width: 5em;
      // color: rgb(85, 85, 85);
      // font-size: 16px;

      &::after {
        content: ":";
        position: relative;
        top: -0.5px;
        margin: 0 8px 0 2px;
      }
    }
    &-content {
      padding-left: 4px;
      color: rgb(0, 0, 0);
      font-size: 16px;
      &-prefix {
        margin-right: 4px;
      }
    }

    &.red {
      .ant-statistic-content {
        color: rgb(207, 43, 43);
      }
    }
  }
}

.time-cell {
  text-align: center;
  &-title {
    color: rgb(119, 119, 119);
  }
  &-date,
  &-time {
    color: rgb(0, 0, 0);
    font-family: HarmonyOS Sans SC;
    font-size: 16px;
    font-weight: 500;
  }
}

.my-bid-action {
  .ant-btn {
    width: 142px;
  }

  .delivery-link {
    margin-top: 12px;
    width: 142px;
    text-align: center;
    a {
      display: inline-block;
      line-height: 28px;
      color: rgb(85, 85, 85);
      font-family: HarmonyOS Sans SC;
      font-size: 16px;
      text-decoration-line: underline;
      background: url("../../assets/images/Newspaper.svg") 0 50% no-repeat;
      padding-left: 20px;
      transition: all 0.3s;

      &:hover {
        color: #2a598f;
      }
    }
  }
}

.my-bid-list {
  .ant-list-item-meta-title {
    font-size: 18px;
    margin-bottom: 4px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #eee;
  }

  .ant-list-item {
    border-bottom-width: 2px !important;
  }

  .ant-badge {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .ant-list-item {
    padding: 30px 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .price-cell .ant-statistic {
    display: flex;
    align-items: flex-start;
  }

  .price-cell .ant-statistic-title {
    width: auto;
  }
  .op-wrap {
    margin-top: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-btn {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 10px;
  }
  .delivery-link {
    margin: 0 10px;
  }
}
