.bid-row2 {
  background: rgb(235, 239, 244);
  padding: 34px 0;
  margin-bottom: 58px;

  .ant-form-item {
    margin-bottom: 12px;
  }

  .ant-input-number-handler-wrap {
    opacity: 1;
    border-radius: 0;
    background: transparent;
    width: 100%;
  }

  .ant-input-number-handler-wrap {
  }

  .ant-input-number {
    width: 309px;
    height: 53px;
    border: 0 none;
    padding: 0 48px;
  }

  .ant-input-number-input-wrap {
    position: relative;
    z-index: 1;
  }

  .ant-input-number-input {
    height: 53px;
    text-align: center;
    color: rgb(207, 43, 43);
    font-size: 30px;
    font-weight: 500;
  }

  .ant-input-number-handler {
    position: absolute;
    width: 48px;
    height: 100%;
    color: #fff;
    line-height: 0;
    border: 0 none;
    border-radius: 0;
    top: 0;
    background: rgb(207, 43, 43);
  }

  .ant-input-number-handler-up {
    left: 0;
  }

  .ant-input-number-handler-down {
    right: 0;
  }

  .ant-input-number-handler-wrap:hover .ant-input-number-handler,
  .ant-input-number-handler-up:hover,
  .ant-input-number-handler-down:hover {
    height: 100% !important;
  }
}

.bid-row1 {
  margin-bottom: 30px;
}

.statistic-wrap {
  .ant-statistic {
    display: flex;
    align-items: center;
    .ant-statistic-title {
      width: 5em;
      padding-right: 0.5em;
      text-align: right;
    }
    .ant-statistic-content {
      flex: 1;
    }
  }
}
