.horizontal {
  .menu {
    overflow: hidden;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      color: #fff;
      text-decoration: none;
    }

    .item {
      //width: 300px;
      //height: 300px;
      //margin: 20px;
      //overflow: hidden;


      width: 200px;
      height: 300px;
      overflow: hidden;
      position: relative;
      float: left;
      border: 5px solid #fff;
      background: #e2f0ff;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
      margin-right: 4px;
      transition: all 300ms linear;

    }

    .item1 {
      background: rgba(15, 255, 255, 0.06);
      font-size: 46px;
      padding: 20px;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      //&:after {
      //  content: '';
      //  width: 260px;
      //  height: 300px;
      //  background: linear-gradient(162deg, rgba(34, 255, 255, 0.2) 0%, rgba(15, 255, 255, 0.02) 98%, rgba(15, 255, 255, 0.02) 100%);
      //  position: absolute;
      //  right: 0;
      //  top: 0;
      //}

      .icon {
        display: block;
      }
    }
    :global {
      .anticon {
        color: #c5e4f4;
        font-size: 90px;
        text-shadow: 1px 0px 1px rgba(255,255,255,0.7);
        line-height: 150px;
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0px;
        top: 0px;
        text-align: center;
        transition: all 200ms linear;
      }
    }
  }
}



.inline {
  position: relative;
  z-index: 10;
  max-width: 1100px;
  margin: 0 auto;
  .menu {
    overflow: hidden;
    list-style: none;
    display: flex;
    justify-content: space-between;

    a {
      color: #fff;
      text-decoration: none;
    }
    .item {
      flex: 1;
      margin: 0 10px;
      overflow: hidden;
      padding: 20px 20px 10px;
      background: rgba(15, 255, 255, 0.06);
      font-size: 24px;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px 20px 0 0;
    }

    :global {
      .anticon {
        color: rgba(255,255,255,.3);
        margin-right: 20px;
      }
    }
  }
}
