.ca-menu {
  height: calc(100vh - 160px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

}
.ca-menu li {
  flex: 1;
  max-width: 300px;
  height: 300px;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
  background: rgba(0, 96, 171, 0.17);
  transition: all 300ms linear;
  border-radius: 10px;
}

.ca-menu li a{
  width: 100%;
  height: 100%;
  display: block;
  color: rgba(255,255,255,.3);
  position: relative;
}
.ca-icon{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms linear;
  .anticon {
    font-size: 60px;
    color: rgba(255,255,255,.3);
    transition: all 400ms linear;
  }
  img {
    transition: all 400ms;
    width: 50%;
    opacity: 0.7;
  }
}
.ca-content{
  position: absolute;
  left: 0px;
  width: 100%;
  height: 50%;
  top: 50%;
}
.ca-main{
  font-size: 30px;
  opacity: 0.8;
  text-align: center;
  transition: all 200ms linear;
}
.ca-sub{
  text-align:center;
  font-size: 14px;
  color: rgba(255,255,255,.4);
  line-height: 40px;
  opacity: 0.8;
  transition: all 200ms linear;
}
.ca-menu li:hover{
  background: rgba(0, 96, 171, 0.3);
  box-shadow: 0px 2px 16px 0px #00FFF9;
}
.ca-menu li:hover .ca-icon{
  .anticon {
    color: #fff;
    font-size: 90px;
  }
  img {
    width: 70%;
    opacity: 1;
  }
}
.ca-menu li:hover .ca-main{
  color: #17D4CD;
  color: #fff;
  animation: moveFromLeftRotate 300ms ease;
}
.ca-menu li:hover .ca-sub{
  color: #fff;
  animation: moveFromBottom 500ms ease;
}
@keyframes moveFromLeftRotate{
  from {
    transform: translateX(-100%) rotate(-90deg);
  }
  to {
    transform: translateX(0%) rotate(0deg);
  }
}

@keyframes moveFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
