.product-page {
  .ant-pro-grid-content {
    background: transparent;
    padding-left: 0;
    padding-top: 0;
  }
}

.bid-card {
  height: 220px;
  .ant-card-head {
    border-bottom: 0;
    .ant-card-head-title {
      color: rgb(51, 51, 51);
    }
  }

  .ant-card-body {
    padding-top: 0;
  }
}
