.App {
  width: 100%;
  height: 100%;
  position: relative;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu-dark .ant-menu-item:hover {
  background-color: #fff !important;
  border-radius: 44px 0px 0px 44px;
}

#root {
  .ant-menu {
    font-size: 18px;
  }

  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    padding: 0 0 20px;
    font-size: 16px;
  }

  .ant-menu-item,
  .ant-menu-submenu,
  .ant-menu-dark .ant-menu-submenu-title,
  .ant-menu-dark .ant-menu-item:hover,
  .ant-menu-dark .ant-menu-item-active,
  .ant-menu-dark .ant-menu-submenu-active,
  .ant-menu-dark .ant-menu-submenu-selected,
  .ant-menu-dark .ant-menu-submenu-title:hover {
    border-radius: 44px 0px 0px 44px;
  }

  .ant-menu-dark .ant-menu-submenu-open {
    border-radius: 25px 0px 0px 25px;
  }

  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    border-radius: 0 0px 0px 25px;
  }

  .ant-menu-sub .ant-menu-item {
    height: 24px;
    // margin-top: 4px;
    // margin-bottom: 4px;
    line-height: 24px;
  }

  .ant-tabs-tab {
    font-size: 20px;
    padding: 15px 45px;
  }

  .ant-tabs {
    color: rgb(136, 136, 136);
  }

  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
    color: #fff;
    background: #2a598f;
  }

  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    border: 0 none;
  }
  .ant-tabs-nav .ant-tabs-tab,
  div > .ant-tabs-nav .ant-tabs-tab {
    // background: #fafafa;
    background: rgb(235, 239, 244);
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff;
  }

  .ant-page-header {
    padding: 22px 50px;
  }
}

.ant-pro-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .ant-pro-grid-content {
    flex: 1;
  }
}

.ant-pro-sider-collapsed-button {
  display: none;
}

#root {
  .isMobile {
    .ant-tabs-tab {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
}
